# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Variables de entorno
.env
backend/.env
*.local

# Python
flask_ml/venv/
__pycache__/
*.pyc

# Modelo grande
flask_ml/mejor_modelo_bert_cv/model.safetensors

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?